body {
    font-family: 'Montserrat', sans-serif;
    max-width: 1920px;
}
.header {
    width: 100%;
    background: #F58021;
    padding-top: 30px;
    padding-bottom: 30px;
}
.wrapper {
    max-width: 1400px;
    width: 100%;
}
.header__nav__navigation>a {
    color: black;
}
.header__nav__navigation>a:hover, .header__nav__navigation>.hovered {
    color: #00A092;
}
.header__nav__navigation>a:not(:last-child) {
    padding-right: 50px;
}
.header__nav__navigation {
    margin-right: 52px;
}
.nav__social>a:not(:last-child) {
    padding-right: 31px;
}
.nav__social>a>img:hover {    
    transform: scale(1.25);
    transition: all .15s ease-in-out;
}
.main-page {
    width: 100%;
    background: url(assets/Main-page-bg.jpg) center no-repeat;    
    background-size: contain;
}
.main-page__inner {
    width: 59%;
    padding: 124px 0 132px;
}
.main-page__inner>h1 {
    font-size: 1px;
}
.main-page__inner>h2 {
    font-weight: 800;
    font-size: 82px;
    line-height: 100px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #00A092;
}
.main-page__inner>p {
    padding: 31px 0 40px;
    width: 49%;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}
.main-page__inner>button {
    width: 240px;
    height: 74px;
    background: #F58021;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF; 
    cursor: pointer;      
}
.main-page__inner>button:hover {
    background: #D26004;
    box-shadow: 0px 4px 30px rgba(245, 128, 33, 0.3);       
}
.main-page__inner>button>p::after {
    padding-left: 10px;
    display: inline-block;
    vertical-align: middle;
    content: url(assets/right-union.svg);
}
.how-it-works {
    padding: 150px 0 143px;
}
.how-it-works__welcome {
    padding-bottom: 150px;
}
.how-it-works__text {
    padding-bottom: 25px;
    width: 40%;
}
.how-it-works__text>h2 {
    font-weight: 600;
    font-size: 54px;
    line-height: 66px;
    text-transform: uppercase;
    color: #00A092;
}
.how-it-works__text>p {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    padding-top: 50px;
}
.quick-donate {
    padding: 50px 0;
    background: #20113D;
}
.quick-donate__text {
    width: 65%;
}
.quick-donate__text>h3 {
    font-weight: 500;
    font-size: 42px;
    line-height: 51px;
    text-transform: uppercase;
}
.quick-donate__text>p {
    padding-top: 20px;
    width: 69%;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}
.quick-donate__form>h6 {
    font-weight: 500;
    font-size: 26px;
    line-height: 34px;
    padding-bottom: 10px;
}
.quick-donate__form__input {
    width: 240px;
    height: 72px;
    background: #20113D;
    outline: none;
    border: 1px #FFFFFF;
    border-radius: 5px 0px 0px 5px;
    border-style:  solid none solid solid;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    vertical-align: middle;
}
input[placeholder] {
    padding-left: 15px;
 }
 /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
 
/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

.quick-donate__form__submit {
    vertical-align: middle;
    width: 80px;
    height: 72px;
    background: #F58021;
    border: 1px #FFFFFF;
    border-radius: 5px 0px 0px 5px;
    border-style: solid solid solid none;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}
.quick-donate__form__submit:hover {
    background: #D26004;
}
.pets-in-zoo {
    padding: 135px 0 150px;
}
.pets-in-zoo>h2 {
    font-weight: 600;
    font-size: 54px;
    line-height: 66px;
    text-align: center;
    text-transform: uppercase;
    color: #00A092;
}
.pets-in-zoo>p {
    margin: 0 auto;
    padding-top: 50px;
    width: 48%;
    font-weight: 500;
    font-size: 26px;
    line-height: 34px;
    text-align: center;
}
.pets-in-zoo__slider__rows {
    width: 9%;
    padding: 100px 0 50px;
}
.pets-in-zoo__slider__rows>button {
    width: 60px;
    height: 60px;
    border: 1px solid #20113D;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
}
.pets-in-zoo__slider__rows__row-left{     
    background: url(assets/left-union-violet.svg) no-repeat center;
}
.pets-in-zoo__slider__rows__row-right{     
    background: url(assets/right-union-violet.svg) no-repeat center;
}
.pets-in-zoo__slider__rows__row-left:hover{ 
    background: #20113D url(assets/left-union-white.svg) no-repeat center;
}
.pets-in-zoo__slider__rows__row-right:hover{
    background: #20113D url(assets/right-union-white.svg) no-repeat center;
}
.choose-your-favourite-btn {
    width: 359px;
    height: 74px;
    border: 1px solid #20113D;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #20113D;
    background: transparent;
    cursor: pointer;    
}
.choose-your-favourite-btn>svg{
    fill: #20113D;
    padding-left: 10px;
}
.choose-your-favourite-btn:hover {
    color: #FFFFFF;
    background: #20113D ;
}
.choose-your-favourite-btn:hover svg{
    fill: #FFFFFF;    
}
.pets-in-zoo__slider__inner {    
    padding: 0 0 61px 260px;
}
.pets-in-zoo__slider__inner__card {
    min-width: 439px;
    height: 747px;
    margin: 0 40px 40px 0;
    background: #20113D;
    cursor: pointer;
    transition: transform 0.5s;
}
.pets-in-zoo__slider__inner__card:hover {
    transform: scale(1.04);
}
.pets-in-zoo__slider__inner__card__name {
    position: absolute;
    width: max-content;
    height: 60px;
    background: #20113D;
}
.pets-in-zoo__slider__inner__card__name>h4 {
    padding: 0 25px;
    font-weight: 500;
    font-size: 26px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
}
.pets-in-zoo__slider__inner__card__dscr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 40px 77px;
    height: 307px;
}
.pets-in-zoo__slider__inner__card__dscr>h5 {
    display: block;
    font-weight: 500;
    font-size: 26px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
}
.pets-in-zoo__slider__inner__card__dscr>p {    
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}
.pets-in-zoo__slider__inner__card__dscr__view>a {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #F58021;
    vertical-align: middle;
}
.pets-in-zoo__slider__inner__card__dscr__view>svg{
    fill: #F58021;
    padding-left: 10px;
}
.pets-in-zoo__slider__inner__card__dscr__view>a:hover {
    color:  #D26004;
}
.pets-in-zoo__slider__inner__card__dscr__view:hover svg{
    fill:  #D26004;
}
.pay-and-feed {
    padding: 90px 0 100px;
    background: #20113D;
}
.pay-and-feed__inner>h2 {
    font-weight: 600;
    font-size: 54px;
    line-height: 66px;
    text-transform: uppercase;
}
.pay-and-feed__inner__block {
    padding-top: 98px;
}
.pay-and-feed__inner__block>p {
    font-weight: 500;
    font-size: 26px;
    line-height: 34px;
}
.pay-and-feed__inner__block__separator {
    width: 91%;
    height: 1px;
    border-top: 1px solid #FFFFFF;
}
.pay-and-feed__inner__block__dscr {
    padding-top: 83px;
}
.pay-and-feed__inner__block__dscr__img-1 {
    width: 560px;
    height: 364px;
    border-radius: 12px;
    background: url(assets/pay-makaka.jpg);
}
.pay-and-feed__inner__block__dscr__img-2 {
    width: 560px;
    height: 364px;
    border-radius: 12px;
    background: url(assets/pay-bananas.jpg);
}
.pay-and-feed__inner__block__dscr__img-3 {
    width: 560px;
    height: 364px;
    border-radius: 12px;
    background: url(assets/pay-makakanbananas.jpg);
}
.pay-and-feed__inner__block__dscr__text {
    padding-top: 15px;
    width: 52%;
    padding-left: 160px;
}
.pay-and-feed__inner__block__dscr__text>h4 {
    font-weight: 500;
    font-size: 26px;
    line-height: 34px;
    padding: 30px 0 50px;
}
.pay-and-feed__inner__block__dscr__text>p {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}
.pay-and-feed__inner__btn {
    width: 49%;
    align-self: flex-end;
}
.pay-and-feed__inner__btn>button {
    margin-top: 51px;
    width: 240px;
    height: 74px;
    background: #F58021;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF; 
    cursor: pointer;      
}
.pay-and-feed__inner__btn>button:hover {
    background: #D26004;
    box-shadow: 0px 4px 30px rgba(245, 128, 33, 0.3);       
}
.pay-and-feed__inner__btn>button>p::after {
    padding-left: 10px;
    display: inline-block;
    vertical-align: middle;
    content: url(assets/right-union.svg);
}
.user-think {
    background:linear-gradient(177.34deg, #20113D 7.26%, rgba(32, 17, 61, 0) 14.89%), linear-gradient(144.77deg, #20113D 18.53%, rgba(32, 17, 61, 0) 46.43%), url(assets/testimonial-bg.jpg);
    padding: 100px 0 150px;
}
.user-think__text {
    width: 45%; 
    padding-left: 266px;   
}
.user-think__text>h2 {
    width: 90%;
    font-weight: 600;
    font-size: 54px;
    line-height: 66px;
    text-transform: uppercase;  
}
.user-think__text>p {    
    padding-top: 41px;
    font-weight: 500;
    font-size: 26px;
    line-height: 34px;
}
.user-think__feedbacks {
    padding-left: 30px;
    margin-bottom: 60px;
}
.user-think__feedbacks__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 515px;
    height: 465px;
    padding: 50px 50px 75px 50px;
    background: #FFFFFF;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    box-sizing: border-box;
}
.user-think__feedbacks__card:not(:last-child) {
    margin-bottom: 30px;
}
.user-think__feedbacks__pair:not(:last-child) {
    margin-right: 30px;
}
.user-think__feedbacks__card__qoutes {
    font-weight: 800;
    font-size: 118px;
    line-height: 89px;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #00A092;
}
.user-think__feedbacks__card>h4 {
    font-weight: 500;
    font-size: 26px;
    line-height: 34px;
}
.user-think__feedbacks__card>p:not(:first-child) {
    padding-bottom: 46px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}
.user-think__feedbacks__card>h6 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
}
.user-think__feedbacks__slider__rows {
    width: 180px;
}
.user-think__feedbacks__slider__rows>button {
    width: 60px;
    height: 60px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
}
.user-think__feedbacks__slider__rows__row-left{     
    background: url(assets/left-union-white.svg) no-repeat center;
}
.user-think__feedbacks__slider__rows__row-right{     
    background: url(assets/right-union-white.svg) no-repeat center;
}
.user-think__feedbacks__slider__rows__row-left:hover{ 
    background: #FFFFFF url(assets/left-union-violet.svg) no-repeat center;
}
.user-think__feedbacks__slider__rows__row-right:hover{
    background: #FFFFFF url(assets/right-union-violet.svg) no-repeat center;
}
.user-think__feedback-btn {
    margin-top: 375px;
    margin-left: 260px;
}
.user-think__feedback-btn {
    width: 359px;
    height: 74px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: transparent;
    cursor: pointer;    
}
.user-think__feedback-btn>svg{
    fill: #FFFFFF;
    padding-left: 10px;
}
.user-think__feedback-btn:hover {
    color: #20113D;
    background: #FFFFFF;
}
.user-think__feedback-btn:hover svg{
    fill: #20113D;    
}
.care {
    width: 100%;
    padding: 135px 0 160px;
}
.care__img {
    width: 66%;
    margin-bottom: 40px;
}
.care h2 {    
    width: 41%;
    margin: 0 auto;
    font-weight: 600;
    font-size: 54px;
    line-height: 66px;
    text-transform: uppercase;
    color: #00A092;
}
.care__subheader {
    width: 36%;
    margin: 0 auto;
    padding-top: 50px;
    font-weight: 500;
    font-size: 26px;
    line-height: 34px;
    color: #20113D; 
}
.care__cards {
    padding: 93px 0 60px;    
}
.care__cards__card {
    width: 31.5%;
    height: 658px;
    background: #20113D;
    margin-bottom: 40px;
    border-radius: 5px;
    transition: transform 0.5s;
    cursor: pointer;
}
.care__cards__card>img {
    width: 100%;
}

.care__cards__card:hover {
    transform: scale(1.04);
}
.care__cards__card__dscr {
    padding: 30px 25px 50px;
}
.care__cards__card__dscr>p {
   padding-bottom: 75px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}
.care__cards__card__dscr__view>a {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #F58021;
    vertical-align: middle;
}
.care__cards__card__dscr__view>svg{
    fill: #F58021;
    padding-left: 10px;
}
.care__cards__card__dscr__view>a:hover {
    color:  #D26004;
}
.care__cards__card__dscr__view:hover svg{
    fill:  #D26004;
}
.dont-eat-me {
    margin-top: 150px;
    height: 652px;
    background: url(assets/choose-touch.jpg);
}
.footer {
    padding: 70px 0 35px;
    background: #20113D;
}
.footer__nav__logos {
    width: 425px;
    height: 58px;
}
.footer__nav__navigation>a {
    color: #FFFFFF;
}
.footer__nav__navigation>a:hover {
    color: #00A092;
}
.footer__nav__navigation>a:not(:last-child) {
    padding-right: 45px;
}
.footer__separator {
    width: 100%;
    margin: 70px 0 37px;
    height: 1px;
    border-top: 1px solid #FFFFFF;
}
.footer__nav__btn {
    width: 359px;
    height: 74px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: transparent;
    cursor: pointer;    
}
.footer__nav__btn>svg{
    fill: #FFFFFF;
    padding-left: 10px;
}
.footer__nav__btn:hover {
    color: #20113D;
    background: #FFFFFF;
}
.footer__nav__btn:hover svg{
    fill: #20113D;    
}
.footer__copyright__items {
    width: 32%;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}
